@charset "utf-8";
/* CSS Document */

body{
    widht:100%;
    height:100%;
    background-image:
            linear-gradient(hsla(215,30%,70%,0.9) 0%, hsla(215,30%,70%,0) 50%, hsla(215,30%,70%,0.9) 100%),
            linear-gradient(to right, hsla(215,30%,80%,0.8) 30%, white 50%, hsla(215,30%,80%,0.8) 70%);


    padding: none;
    margin: none;
}

#loginbox{
    width:25%;
    min-width:320px;
    height:450px;
    margin-left: auto;
    margin-right:auto;
    margin-top:10%;
    margin-bottom:10%;
}

#loginheader{
    width:100%;
    height:90px;
    background-color:#222;
    font-family: 'Pacifico', cursive;
    font-size:50px;
    color: #E2E2E2;
    text-align: center;
    line-height: 78px;
    margin-bottom: 0px;
}

#login{
    width:100%;
    height:350px;
    background:url(../pics/hintergrund_30_p.png);
}

#ueberschrift{
    height:30px;
    width:100%;
    padding-top: 20px;
    padding-left: 10%;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #E2E2E2;
}

#linie_anfang {
    height:2px;
    width:90%;
    background-color: #E2E2E2;
    margin-left: auto;
    margin-right:auto;
}

#formular{
    width:100%;
}

#email{
    height:35px;
    width:80%;
    margin-top:15px;
    margin-left:10%;
    margin-right:10%;
    background-color:#FFF;
    text-align: center; !important;
    line-height: 0px; !important;
    top:40px;
    padding-left: 10px;
    color:#000;
}

#username{
    height:35px;
    width:80%;
    margin-top:15px;
    margin-left:10%;
    margin-right:10%;
    background-color:#FFF;
    top:10px;
    color:#000;
    padding-left: 10px;
    line-height: 35px;
}

#passwort{
    height:35px;
    width:80%;
    margin-top:10px;
    margin-left:10%;
    margin-right:10%;
    padding-left: 10px;
    background-color:#FFF;
    top:50px;
}

#passwort_wiederholen{
    height:35px;
    width:80%;
    margin-top:10px;
    margin-left:10%;
    margin-right:10%;
    padding-left: 10px;
    background-color:#FFF;
    top:50px;
}

input::placeholder {
    color:#5E6E66;
}
label {
    color:#5E6E66;
}


.button{
    height:35px;
    width:81%;
    margin-top:15px;
    margin-left:10%;
    margin-right:10%;
    background-color: #244A76;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color:#E2E2E2;
    border: none;
}

#linie_ende {
    height:2px;
    width:90%;
    background-color: #E2E2E2;
    margin-top: 10px;
    margin-left: auto;
    margin-right:auto;
}

#loginfooter{
    width:100%;
    height:40px;
    background-color:#333;
}

#loginfooter_text {
    width:45%;
    height:40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #E2E2E2;
    text-align: left;
    line-height: 40px;
    padding-left:5%;
    float:left;
}

#loginfooter_button {
    width:45%;
    height:40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #E2E2E2;
    text-align: right;
    line-height: 40px;
    padding-right:5%;
    float:left;
}

#button_login{
    width:60%;
    height:25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #E2E2E2;
    background-color: #00AE25;
    border:none;
    border-radius: 3px;
}

