.content_box{ /*Inhaltscontainer "Content" auf der Profilseite*/
	width:100%;
	height:auto;
	max-width:1200px;
}

.profil_header{ /*Inhaltscontainer "Header" auf Profilseite*/
	width:98%;
	height:64px !important;
	margin-left:1%;
	margin-right:1%;
	margin-top:1%;
	background:#999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-top: 1px solid #999;
	box-sizing: border-box;
	float:left;
}

.profil_header_username{ /*Username auf Profilseite*/
	width:30%;
	height:64px;
	margin-left: 20px;
	line-height:30px;
	text-align: left;
	float:left;
}

.profil_header_profil_bearbeiten{  /*Button "Profil bearbeiten" auf Profilseite*/
	width:30%;
	height:64px;
	margin-right: 13px;
	line-height:64px;
	text-align: right;
	float:right;
}

.profil_header_folgen{ /*Button "Nutzer folgen" auf Profilseite*/
	width:15%;
	height:34px;
	background-color: royalblue;
	margin-right: 20px;
	margin-top:15px;
	text-align: center;
	border: 1px solid #777;
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	float: right;
}

.profil_header_entfolgen{ /*Button "Nutzer entfolgen" auf Profilseite*/
	width:15%;
	height:34px;
	margin-right: 20px;
	margin-top:15px;
	text-align: center;
	border: 1px solid #777;
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	float: right;
}

.profil_body{ /*Inhaltscontainer "Body" auf Profilseite*/
	width:98%;
	height:auto;
	margin-left: 1%;
	margin-right:1%;
	background:#FFF;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	box-sizing: border-box;
	float:left;
}

.profil_body_pic{ /*Profilbild auf der Profilseite*/
	width:250px;
	height:250px;
	margin-left:2%;
	margin-top:2%;
	margin-bottom:2%;
	float:left;
}

.profil_body_pic > img{
	width:100%;
	border-radius:100%;
}

.profil_body_text{ /*Text auf der Profilseite*/
	width:45%;
	height:auto;
	margin-left:2%;
	margin-top:2%;
	margin-bottom:2%;
	float:left;
}

@media (min-width: 768px) and (max-width: 1024px) { /*Media Querie für Gerätebreiten von 768px bis 1024px*/
}

@media (min-width: 480px) and (max-width: 768px) { /*Media Querie für Gerätebreiten von 480px bis 768px*/
.profil_body_pic{ /*Profilbild auf der Profilseite*/
	width:100%;
	max-width:600px;
	height:250px;
	margin-left:auto;
	margin-top:auto;
	float:left;
}
.profil_body_text{ /*Text auf der Profilseite*/
	width:45%;
	height:auto;
	float:left;
}
}

@media (min-width:297px) and (max-width: 480px){ /*Media Querie für Gerätebreiten von 297px bis 480px*/
.profil_header{ /*Inhaltscontainer "Header" auf der Profilseite*/
	width:98%;
	height:auto !important;
	min-height:64px !important;
}
.profil_header_username{ /*Username auf der Profilseite*/
	width:20%;
}

.profil_header_profil_bearbeiten{ /*Button "Profil bearbeiten" auf der Profilseite*/
	width:200px;
}
}

@media (max-width: 297px){ /*Media Querie für Gerätebreiten bis 297px*/
.profil_header{
	width:98%;
	height:auto !important;
	min-height:64px !important;
}
.profil_header_username{ /*Username auf der Profilseite*/
	width:20%;
}

.profil_header_profil_bearbeiten{ /*Button "Profil bearbeiten" auf der Profilseite*/
	width:200px;
	margin-left: 20px;
	text-align: left;
	float:left;
}
}








/*#content_box{
	width:94%;
	height:auto;
	height:100%!important;
	max-width:1200px;
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	padding:3%;
}
#profil_ueberschrift{
	padding-left:2.5%;
	padding-top:2.5%;
}

#profil_profil{
	width:100%;
	max-width: 1200px;
	background-color: #888;
	margin-left: auto;
	margin-right: auto;
}

h2{
	margin-top: 0px;
	margin-left:0px;
}
#profil_username{
	float:left;
	width:50%;
	padding-left:2.5%;
	padding-top:2.5%;
}

#profil_bearbeiten{
	float:left;
	text-align: right;
	width:40%;
}

#profil_pic{
	width:40%;
	margin-left: 5%!important;
	height:auto;
	background-color: #E00003;
	clear: both;
	margin:0px;
	padding:0px;
}

img{
	width:100%;
	height:auto;
	float:left;
}

#profil_text{
	width:40%;
	hight:auto;
	margin-top:0px;
	margin-left: 10%;
	margin-right: 5%;
	float:left;
	
}

#folgen{
	background-color:#980002;
	width:20%;
	margin:2.5%;
	height:35px;
	text-decoration: none;
	float:right;
	border:none;
}

#entfolgen{
	background-color:#006515;
	widht:20%;
	margin:2.5%;
	height:35px;
	text-decoration: none;
	float:right;
	border:none;
}

@media (min-width: 768px) and (max-width: 1024px) {
	#content_box{
	margin-top:-30px !important;
}
}

@media (min-width: 480px) and (max-width: 768px) {
	#content_box{
	margin-top:-30px !important;
}
	#profil_profil{
	margin-top: 80px !important;
	}
	#folgen{
		margin-right: 5px;
		margin-top:5px;
		width:30%;
	}
	#entfolgen{
		margin-right: 5px;
		margin-top:5px;
		width:30%;
	}
}

@media (max-width: 480px) {
	#content_box{
	margin-top:-30px !important;
}
	#profil_profil{
	margin-top: 80px !important;
	}
	
	#folgen{
		margin-right: 5px;
		margin-top:5px;
		width:30%;
	}
	#entfolgen{
		margin-right: 5px;
		margin-top:5px;
		width:30%;
	}
}*/
	