@charset "utf-8";
/* CSS Document */

body{
	width:100%;
	height:100%;
	background-image: url("../pics/hintergrund_login_2.png");
	padding: 0;
	margin: 0;
}

#loginbox{
	width:25%;
	min-width:350px;
	height:380px;
	margin-top:18%;
	margin-left: auto;
	margin-right:auto;
}

#loginheader{
	width:100% !important;
	height:90px;
	background-color:#111;
	font-family: 'Pacifico', cursive;
	font-size:50px;
	color: #FFFFFF;
	text-align: center;
	line-height: 78px;
	margin-bottom: 0;
	border-top-right-radius: 40px;
	border-top-left-radius:40px;
	
}

#login{
	width:100%;
	height:280px;
	background:url(../pics/hintergrund_30_p.png);
}
#ueberschrift{
	height:30px;
	width:100%;
	padding-top: 20px;
	padding-left: 10%;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #E2E2E2;
}

#linie_anfang {
	height:2px;
	width:90%;
	background-color: #E2E2E2;
	margin-left: auto;
	margin-right:auto;
}

#formular{
	width:100%;
}

#username{
	height:35px;
	width:77%;
	margin-top:15px;
	margin-left:10%;
	margin-right:10%;
	background-color:#FFF;
	top:40px;
	padding-left:3%;
	color:#000;
}

#passwort{
	height:35px;
	width:77%;
	margin-top:10px;
	margin-left:10%;
	margin-right:10%;
	padding-left:3%;
	background-color:#FFF;
	top:50px;
}

input::placeholder {
  padding:1px;
}
label {
  padding:1px;
}

#login_merken{
	height:20px;
	margin-left: 10%;
	margin-top:18px;
	text-align: left;
	float: left;
}

#login_merken_text{
	height:20px;
	width: 28%;
	margin-left: 0;
	margin-top:18px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color:#E2E2E2;
	text-align: left;
	line-height: 20px;
	float:left;
}


.button{
	height:35px;
	width:81%;
	margin-top:15px;
	margin-left:10%;
	margin-right:10%;
	background-color: #333;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color:#E2E2E2;
	border: none;
}

#linie_ende {
	height:2px;
	width:90%;
	background-color: #E2E2E2;
	margin-top: 10px;
	margin-left: auto;
	margin-right:auto;
}

#loginfooter{
	width:100%;
	height:60px;
	background-color:#111;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
}

#loginfooter_text {
	width:40%;
	height:60px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #E2E2E2;
	text-align: left;
	line-height: 60px;
	padding-left:10%;
	float:left;
}

#loginfooter_button {
	width:40%;
	height:60px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #E2E2E2;
	text-align: right;
	line-height: 60px;
	padding-right:10%;
	float:left;
}

#button_registrieren{
	width:60%;
	height:25px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #E2E2E2;
	background-color: #00AE25;
	border:none;
	border-radius: 3px;
}

#passwort_wiederholen{
	height:35px;
	width:80%;
	margin-top:10px;
	margin-left:10%;
	margin-right:10%;
	background-color:#FFF;
	top:50px;
}

#email{
	height:35px;
	width:80%;
	margin-top:15px;
	margin-left:10%;
	margin-right:10%;
	background-color:#FFF;
	top:40px;
	color:#000;
}

/*@media (min-width: 1000px) and (max-width: 1363px){
}*/

@media (min-width: 768px) and (max-width: 1024px) {
	body {
	}

	#loginbox {
		min-width: none;
		width: 100%;
		height: auto;
		margin-top: 0px !important;
		margin-left: none;
		margin-right: none;
	}

	#loginheader {
		height: auto;
		line-height: 150px;
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;
		font-size: 120px;
		margin-top:-120px;
	}

	#login {
		height: auto;
		background: none;
	}

	#formular {
		width: 100% !important;
	}

	#ueberschrift {
		height: 70px;
		width: 90%;
		padding-top: 150px;
		color:#E2E2E2;
		font-size: 50px;
	}

	#username {
		height: 70px;
		line-height: 70px;
		font-size: 30px;
		width: 77%;
		margin-top: 25px;
		margin-left: 10%;
		margin-right: 10%;
		background-color: #FFF;
		top: 30px;
		padding-left: 3%;
		color: #000;
	}

	#passwort {
		height: 70px;
		line-height: 70px;
		font-size: 30px;
		width: 77%;
		margin-top: 20px;
		margin-left: 10%;
		margin-right: 10%;
		padding-left: 3%;
		background-color: #FFF;
		top: 33px;
	}


	input::placeholder {
		padding: 1px;
		font-size: 30px;
	}

	label {
		padding: 1px;
		line-height: 100px;
		font-size: 30px;
	}

	.button {
		height: 100px;
		width: 81%;
		margin-top: 35px;
		font-size: 30px;
	}

	#loginfooter {
		width: 100%;
		height: 200px;
		background-color: #111;
		position: absolute;
		margin-top: 33px;
		margin-bottom: 0px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		bottom: 0;
	}

	#loginfooter_text {
		width: 80%;
		height: 35px;
		line-height: 35px;
		font-family: 'Montserrat', sans-serif;
		font-size: 30px;
		color: #E2E2E2;
		text-align: center;
		margin-top: 33px;
		padding-left: none;
		margin-left: auto;
		margin-right: auto;
		float: left;
	}

	#loginfooter_button {
		width: 100%;
		height: 70px;
		font-family: 'Montserrat', sans-serif;
		font-size: 30px;
		color: #E2E2E2;
		text-align: center;
		line-height: 40px;
		padding-right: 0%;
		margin-top: 20px;
		float: left;
	}

	#button_registrieren {
		width: 80%;
		height: 70px;
		line-height: 70px;
		font-family: 'Montserrat', sans-serif;
		font-size: 30px;
		color: #E2E2E2;
		background-color: #00AE25;
		margin-left: auto;
		margin-right: auto;
		border: none;
	}

	input {
		webkit-appearance: none;
		moz-appearance: none;
		appearance: none;
	}
}

	
	@media (min-width: 480px) and (max-width: 768px) {
		body {
	}
		#logo_mobil{
			display:none;
		}
	#loginbox {
		min-width: none;
		width: 100%;
		height: auto;
		margin-top: 0px !important;
		margin-left: none;
		margin-right: none;
	}

	#loginheader {
		height: 100px;
		line-height: 80px;
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;
		font-size: 50px;
		margin-top:-120px;
	}

	#login {
		height: auto;
		background: none;
	}

	#formular {
		width: 100% !important;
	}

	#ueberschrift {
		height: 30px;
		width: 90%;
		padding-top: 15px;
		color:#333;
		font-size: 30px;
	}

	#username {
		height: 50px;
		line-height: 40px;
		font-size: 14px;
		width: 77%;
		margin-top: 10px;
		margin-left: 10%;
		margin-right: 10%;
		background-color: #FFF;
		top: 14px;
		padding-left: 3%;
		color: #000;
	}

	#passwort {
		height: 50px;
		line-height: 40px;
		font-size: 14px;
		width: 77%;
		margin-top: 20px;
		margin-left: 10%;
		margin-right: 10%;
		padding-left: 3%;
		background-color: #FFF;
		top: 17px;
	}


	input::placeholder {
		padding: 1px;
		font-size: 14px;
	}

	label {
		padding: 1px;
		line-height: 100px;
		font-size: 14px;
	}

	.button {
		height: 50px;
		width: 81%;
		margin-top: 25px;
		font-size: 14px;
	}

	#loginfooter {
		width: 100%;
		height: 100px;
		position: absolute;
		background-color: #111;
		margin-top: 12px;
		margin-bottom: 0px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		bottom: 0;
	}

	#loginfooter_text {
		width: 80%;
		height: 15px;
		line-height: 15px;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		color: #E2E2E2;
		text-align: center;
		margin-top: 17px;
		padding-left: none;
		margin-left: auto;
		margin-right: auto;
		float: left;
	}

	#loginfooter_button {
		width: 100%;
		height: 50px;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		color: #E2E2E2;
		text-align: center;
		line-height: 21px;
		padding-right: 0%;
		margin-top: 10px;
		float: left;
	}

	#button_registrieren {
		width: 80%;
		height: 50px;
		line-height: 50px;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		color: #E2E2E2;
		background-color: #00AE25;
		margin-left: auto;
		margin-right: auto;
		border: none;
	}

	input {
		webkit-appearance: none;
		moz-appearance: none;
		appearance: none;
	}
}
	@media (max-width: 480px) {
			body {
	}

	#loginbox {
		min-width: none;
		width: 100%;
		height: auto;
		margin-top: 0px !important;
		margin-left: none;
		margin-right: none;
	}

	#loginheader {
		height: 100px;
		line-height: 80px;
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;
		font-size: 50px;
		margin-top:-120px;
	}

	#login {
		height: auto;
		background: none;
	}

	#formular {
		width: 100% !important;
	}

	#ueberschrift {
		height: 30px;
		width: 90%;
		padding-top: 15px;
		font-weight: bold;
		color:#333;
		font-size: 30px;
	}

	#username {
		height: 50px;
		line-height: 40px;
		font-size: 16px;
		width: 77%;
		margin-top: 20px;
		margin-left: 10%;
		margin-right: 10%;
		background-color: #FFF;
		top: 14px;
		padding-left: 3%;
		color: #000;
	}

	#passwort {
		height: 50px;
		line-height: 40px;
		font-size: 16px;
		width: 77%;
		margin-top: 10px;
		margin-left: 10%;
		margin-right: 10%;
		padding-left: 3%;
		background-color: #FFF;
		top: 17px;
	}


	input::placeholder {
		padding: 1px;
		font-size: 16px;
	}

	label {
		padding: 1px;
		line-height: 100px;
		font-size: 16px;
	}

	.button {
		height: 50px;
		width: 80%;
		margin-top: 12px;
		font-size: 16px;
	}

	#loginfooter {
		width: 100%;
		height: 100px;
		background-color: #111;
		position: absolute;
		margin-top: 12px;
		margin-bottom: 0px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		bottom: 0;
	}

	#loginfooter_text {
		width: 80%;
		height: 15px;
		line-height: 15px;
		font-family: 'Montserrat', sans-serif;
		font-size: 16px;
		color: #E2E2E2;
		text-align: center;
		margin-top: 17px;
		padding-left: none;
		margin-left: auto;
		margin-right: auto;
		float: left;
	}

	#loginfooter_button {
		width: 100%;
		height: 50px;
		font-family: 'Montserrat', sans-serif;
		font-size: 16px;
		color: #E2E2E2;
		text-align: center;
		line-height: 21px;
		padding-right: 0%;
		margin-top: 10px;
		float: left;
	}

	#button_registrieren {
		width: 80%;
		height: 50px;
		line-height: 50px;
		font-family: 'Montserrat', sans-serif;
		font-size: 16px;
		color: #E2E2E2;
		background-color: #00AE25;
		margin-left: auto;
		margin-right: auto;
		border: none;
	}

	input {
		webkit-appearance: none;
		moz-appearance: none;
		appearance: none;
	}
}
	