.content_box{ /*Inhaltscontainer "Content" auf der Profilseite*/
	width:100%;
	height:auto;
	max-width:1200px;
}

.profil_header{ /*Inhaltscontainer "Header" auf Profilseite*/
	width:98%;
	height:64px !important;
	margin-left:1%;
	margin-right:1%;
	margin-top:1%;
	background:#999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-top: 1px solid #999;
	box-sizing: border-box;
	float:left;
}

.profil_header_username{ /*Username auf Profilseite*/
	width:30%;
	height:64px;
	margin-left: 20px;
	line-height:30px;
	text-align: left;
	float:left;
}

.profil_header_profil_bearbeiten{  /*Button "Profil bearbeiten" auf Profilseite*/
	width:30%;
	height:64px;
	margin-right: 13px;
	line-height:64px;
	text-align: right;
	float:right;
}

.profil_header_folgen{ /*Button "Nutzer folgen" auf Profilseite*/
	width:15%;
	height:34px;
	background-color: orangered;
	margin-right: 20px;
	margin-top:15px;
	text-align: center;
	border: 1px solid #777;
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	float: right;
}

.profil_header_entfolgen{ /*Button "Nutzer entfolgen" auf Profilseite*/
	width:15%;
	height:34px;
	margin-right: 20px;
	margin-top:15px;
	text-align: center;
	border: 1px solid #777;
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	float: right;
}

.profil_body{ /*Inhaltscontainer "Body" auf Profilseite*/
	width:98%;
	height:auto;
	margin-left: 1%;
	margin-right:1%;
	background:#FFF;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	box-sizing: border-box;
	float:left;
}



.profil_body_pic{ /*Profilbild auf der Profilseite*/
	width:250px;
	height:250px;
	margin-left:2%;
	margin-top:2%;
	margin-bottom:2%;
	float:left;
}

.profil_body_pic > img{
	width:100%;
	border-radius:100%;
}

.profil_body_text{ /*Text auf der Profilseite*/
	width:45%;
	height:auto;
	margin-left:2%;
	margin-top:2%;
	margin-bottom:2%;
	float:left;
}

@media (min-width: 768px) and (max-width: 1024px) { /*Media Querie für Gerätebreiten von 768px bis 1024px*/
}

@media (min-width: 480px) and (max-width: 768px) { /*Media Querie für Gerätebreiten von 480px bis 768px*/
.profil_body{ /*Inhaltscontainer "Body" auf Profilseite*/
	width:98%;
	height:auto;
	margin-left: 1%;
	margin-right:1%;
	padding-left: 2.5%;
	padding-right:2.5%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	background:#FFF;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	box-sizing: border-box;
	float:left;
}
	
.profil_body_pic{ /*Profilbild auf der Profilseite*/
	width:40%;
	max-width:400px;
	height:400px;
	margin-left:auto;
	margin-top:auto;
	float:left;
}
	
.profil_body_pic > img {
    width: 100%;
    border-radius: 100%;
}
	
.profil_body_text{ /*Text auf der Profilseite*/
	width:53%;
	height:auto;
	float:left;
	margin-left:0%;
	margin-right:0%;
	margin-top:0%;
	margin-bottom: 0%;
	padding-left:7%;
	padding-right:0%;
	padding-top:0%;
	padding-bottom:3%;
}
}

@media (min-width:297px) and (max-width: 480px){ /*Media Querie für Gerätebreiten von 297px bis 480px*/
.profil_header{ /*Inhaltscontainer "Header" auf der Profilseite*/
	width:98%;
	height:auto !important;
	min-height:64px !important;
}
.profil_header_username{ /*Username auf der Profilseite*/
	width:20%;
}

.profil_header_profil_bearbeiten{ /*Button "Profil bearbeiten" auf der Profilseite*/
	width:200px;
}
	
.profil_body { /*Inhaltscontainer "Body" auf Profilseite*/
    width: 98%;
    height: auto;
    margin-left: 1%;
    margin-right: 1%;
    background: #FFF;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    box-sizing: border-box;
    float: left;
}

.profil_body_pic { /*Profilbild auf der Profilseite*/
    width: 80%;
    height: auto;
    margin-left: 10%;
	margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 0%;
    float: left;
}
	
.profil_body_text { /*Text auf der Profilseite*/
    width: 80%;
    height: auto;
    margin-left: 10%;
	margin-right: 10%;
    margin-top: 4%;
    float: left;
    margin-bottom: 10%;
}
}

@media (max-width: 297px){ /*Media Querie für Gerätebreiten bis 297px*/
.profil_header{
	width:98%;
	height:auto !important;
	min-height:64px !important;
}
.profil_header_username{ /*Username auf der Profilseite*/
	width:20%;
}

.profil_header_profil_bearbeiten{ /*Button "Profil bearbeiten" auf der Profilseite*/
	width:200px;
	margin-left: 20px;
	text-align: left;
	float:left;
}
	
.profil_body {  /*Inhaltscontainer "Body" auf Profilseite*/
    width: 98%;
    height: auto;
    margin-left: 1%;
    margin-right: 1%;
    background: #FFF;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    box-sizing: border-box;
    float: left;
}

.profil_body_pic { /*Profilbild auf der Profilseite*/
    width: 80%;
    height: auto;
    margin-left: 10%;
	margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 0%;
    float: left;
}
	
.profil_body_text { /*Text auf der Profilseite*/
    width: 80%;
    height: auto;
    margin-left: 10%;
	margin-right: 10%;
    margin-top: 4%;
    float: left;
    margin-bottom: 10%;
}
}
	